@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
  }


.hand{
    position: absolute;
width: 237.17px;
height: 317.53px;
left: 1269px;
top: 1180.66px;
transform: rotate(-0.11deg);
z-index: 2;
}



.form-inline button{
    margin: 0 1rem;
    transform: translate(0,4px);

}

.col{
    position: relative;
     top: 13rem; 
     letter-spacing: 0.1em;
     font-family: Salsa;
     font-style: normal;
}

.text{
    line-height: 3rem;
text-transform: capitalize;
}

.submitBtn{
    font-family: 'Segoe UI';
    font-style: normal;
    background-color: #0057B4;
    color: white;
    outline: none;
    border-radius: 20px;
    padding: 0.4rem 1.5rem;
    font-size: 16px;
    box-shadow:0px 15px 9px 0px rgba(0,87,180,0.2);
    z-index: 2;
}

.submitBtn:hover{
    transform: translate(0,4px);
    color: white;
    box-shadow: none;
}

.circle1{
    position: absolute;
    width: 483px;
    height: 488px;
    left: -251px;
    top: -28px;

    background: rgba(197, 156, 250, 0.16);
    filter: blur(50px);
    z-index: 2;
}

.circle2{
    position: absolute;
width: 226px;
height: 226px;
left: 1121px;
top: 254px;

background: rgba(245, 159, 159, 0.16);
filter: blur(40px);
}

.circle3{
    position: absolute;
width: 226px;
height: 226px;
left: 670px;
top: 500px;

background: rgba(190, 245, 249, 0.31);
filter: blur(40px);
}

.star1{
    position: absolute;
width: 83.97px;
height: 83.97px;
left: 1220px;
top: 120px;
transform: rotate(45deg);
}

.star2{
    position: absolute;
    width: 63.7px;
    height: 63.7px;
    left: 1150px;
    top: 600px;
    transform: rotate(30deg); 
}

.star3{
    position: absolute;
width: 720.62px;
height: 686px;
left: 680px;
top: 400px;
}




.circle4{
    position: absolute;
width: 229px;
height: 230px;
left: 218px;
top: 750px;

background: rgba(252, 224, 162, 0.31);
filter: blur(30px);
}

.service{
    background-color: #FEF0F0;
    border-radius: 51px;
    height: 659px;
    position: relative;
    top: 90px;
    box-shadow: 0px 8px 30px 0 rgba(255,212,212,0.4);
    -webkit-box-shadow: 0px 8px 30px 0 rgba(255,212,212,0.4);
    -moz-box-shadow: 0px 8px 30px 0 rgba(255,212,212,0.4);
}

.serviceText{
    position: relative;
    top: 5rem;
    letter-spacing: .1em;
}

.serviceDescription{
   width: 800px;
}

.serviceDescription .row1{
    position: relative;
    top: 10rem;
}

.serviceDescription .row2{
    position: relative;
    top: 13rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: Salsa;
     font-style: normal;
}

.resumeBtn{
    position: relative;
    top: 8rem;
}

.resumeBtn :hover{
    transform: translate(0,4px);
    box-shadow: none;
    color: white;
}




.specializingText{
    position: relative;
    top: 15rem;
    letter-spacing: .1em;
}

.star4{
    position: absolute;
width: 67.78px;
height: 69.78px;
left: 500px;
top: 1750px;
}

.star5{
    position: absolute;
width: 53.57px;
height: 53.57px;
left: 900.66px;
top: 1650.98px;
transform: rotate(-103.77deg);
}

.development{
    
position: relative;
width: 594px;
height: 321px;
top: 23rem;
left: 5rem;

background: rgba(243, 243, 243, 0.55);
border-radius: 83px;
box-shadow: 0px 8px 20px rgba(196,196,196,0.69);
/* -webkit-box-shadow: 0px 8px 20px rgba(196,196,196,0.69);
-moz-box-shadow: 0px 8px 20px rgba(196,196,196,0.69); */
}

.UI{
    position: relative;
    width: 594px;
    height: 321px;
    top: 25rem;
    left: 26rem;
    
    background: rgba(243, 243, 243, 0.55);
    border-radius: 83px; 
    box-shadow: 0px 8px 30px rgba(196,196,196,0.69);
/* -webkit-box-shadow: 0px 8px 30px 6px rgba(196,196,196,0.69);
-moz-box-shadow: 0px 8px 30px 6px rgba(196,196,196,0.69); */
}

.developmentTech{
    position: relative;
width: 276px;
height: 250px;
top: 28rem;
z-index: 2;
background-color: #ffffff;
border-radius: 65px;
box-shadow: 6px 8px 20px rgba(196,196,196,1);
-webkit-box-shadow: 6px 8px 20px rgba(196,196,196,1);
-moz-box-shadow: 6px 8px 20px rgba(196,196,196,1);
animation: robot 4s linear infinite;

}

.techs{
    position: relative;
    top: 3rem;
}

.techs div{
    margin: 2rem 0;
}

.UITool{
    position: relative;
width: 276px;
height: 250px;
top: 30rem;
left: 52rem;
z-index: 2;
background-color: #ffffff;
border-radius: 65px;
box-shadow: -6px 8px 20px rgba(196,196,196,1);
-webkit-box-shadow: -6px 8px 20px rgba(196,196,196,1);
-moz-box-shadow: -6px 8px 20px rgba(196,196,196,1);
animation: robot 4s linear infinite;

}

.developmentText{
    position: relative;
    top: 4rem;
    letter-spacing: 0.1em;
}

.knowMoreBtn{
    background-color:  #9052F7;
    font-family: 'Segoe UI';
    font-style: normal;
    color: white;
    border-radius: 20px;
    padding: 0.4rem 1.5rem;
    font-size: 16px;
    box-shadow: 0px 15px 9px 0px rgba(144, 82, 246, 0.27);
/* -webkit-box-shadow: 0px 8px 30px 0 rgba(144, 82, 246, 0.57);
-moz-box-shadow: 0px 8px 30px 0 rgba(144, 82, 246, 0.57); */
position: relative;
top: 4rem;
}

.knowMoreBtn:hover{
    transform: translate(0,4px);
    box-shadow: none;
    color: white;
}

#collapseExample1{
    padding: 3rem;
    position: relative;
    left: 38rem; 
    bottom:10rem;
}

#collapseExample2{
    padding: 3rem;
    position: relative;
     bottom:10rem;
     right: 38rem;
}




.recentProject{
    position: relative;
    top: 28rem;
}

.recentProjectText{
    position: relative;
    top: 5rem;
    margin: 5rem 0;
    letter-spacing: .2em;
}

.rectangle{
    position: relative;
width: 1340px;
height: 618px;
left: -8rem;
top: 8rem;
background:rgba(189, 89, 114, 0.05) ;
mix-blend-mode: normal;
border: 1px solid rgba(189, 89, 114, 0.05);
box-sizing: border-box;
}

.pro1Div #pro1{
    width: 300px;
    height: 300px;
}

.developmentProjects .pro1 .description{
    position: relative;
width: 300px;
height: 300px;

background: #F5F5F5;
}

.developmentProjects .pro1 .description h5{
    position: relative; 
    top: 4rem;
}

.developmentProjects .pro1 .description button{
    position: relative; 
    top: 8rem;
}

.developmentProjects #robot{
    position: relative;
    left:17rem;
    top: -15rem;
    animation: robot 4s linear infinite;
} 

@keyframes robot {
    50%{
        transform: translateY(30px);
    }
    50%{
        transform: translateY(-30px);
    }
}

.developmentProjects #owl{
    position: relative;
    left:36rem;
    top: -16rem;
    animation: owl 2s linear infinite;
}

@keyframes owl {
    50%{
        transform: rotate(40deg);
    }
    50%{
        transform: rotate(-10deg);
    }
}

.developmentProjects #exam{
    position: relative;
    left:15rem;
    top: -19rem;
}

.developmentProjects #car{
    position: absolute;
    left:36rem;
    top: -15rem;
    display: flex;
    flex-wrap: wrap;
    animation: car 4s ease-in-out infinite ;
    animation-fill-mode: none;
}

@keyframes car {
    30%{
        width: 100px;
        height: 100px;
    }
    70%{
        transform: translate3d(30px,-40px);
        width: 250px;
        height: 250px;
    }

}

.proBtn{
    border-radius: 20px;
    width: 8rem;
    color: white;
}

.description .pro1Btn{
    background: #6B6B6B;
    box-shadow: 0px 15px 9px 0px rgba(114,114,114,0.2);
/* -webkit-box-shadow: 0px 10px 39px 0px rgba(114,114,114,0.69);
-moz-box-shadow: 0px 10px 39px 0px rgba(114,114,114,0.69); */
}

.description .pro2Btn{
    background: #0C8AE3;
    box-shadow: 0px 15px 9px 0px rgba(33,119,181,0.2);
    /* -webkit-box-shadow: 0px 10px 39px 0px rgba(33,119,181,0.69);
    -moz-box-shadow: 0px 10px 39px 0px rgba(33,119,181,0.69); */
}

.description .pro3Btn{
    background: #9052F7;
    box-shadow: 0px 15px 9px 0px rgba(144,82,246,0.2);
    /* -webkit-box-shadow: 0px 10px 39px 0px rgba(144,82,246,0.69);
    -moz-box-shadow: 0px 10px 39px 0px rgba(144,82,246,0.69); */
}

.description .pro4Btn{
    background: #EF4C4A;
    box-shadow:  0px 15px 9px 0px rgba(167,7,7,0.2);
    /* -webkit-box-shadow: 0px 10px 39px 0px rgba(167,7,7,0.69);
    -moz-box-shadow: 0px 10px 39px 0px rgba(167,7,7,0.69); */
}

.viewMoreBtn{
    background: #EF4C4A;
    box-shadow: 0px 15px 9px 0px rgba(167,7,7,0.2);
    /* -webkit-box-shadow: 0px 10px 39px 0px rgba(167,7,7,0.69);
    -moz-box-shadow: 0px 10px 39px 0px rgba(167,7,7,0.69); */
    color: white;
    border-radius: 20px;
    position: relative;
    bottom: 12rem;
    /* width:12rem; */
    padding: 1rem 2rem;
    
}

.proBtn:hover{
    transform: translate(0,4px);
    box-shadow: none;
    color: white;
}

.viewMoreBtn:hover{
    transform: translate(0,4px);
    box-shadow: none;
    color: white;
}







.UXprojects{
    margin: 5rem;
}

.UXProject{
position: relative;
width: 932px;
height: 830px;
margin: 4rem auto;
background: rgba(243, 243, 243, 0.39);
border: 2px solid rgba(243, 243, 243, 0.35);
box-sizing: border-box;
border-radius: 83px;

display: flex;
justify-content: center;
align-content: center;
align-items: center;

box-shadow: 0px 8px 20px rgba(196,196,196,0.69);
-webkit-box-shadow: 0px 8px 20px rgba(196,196,196,0.69);
-moz-box-shadow: 0px 8px 20px rgba(196,196,196,0.69);
}

.UXProject #UIpro1{
    padding: 3rem;
}

/* #ViewUXProjectBtn{
    position: relative;
    bottom: 5rem;
    top: 0;
} */

.UXProject #UIpro2{
    width: 500px;
    height: 700px;
    margin: 0 3rem;
}

#UXBtn{
    position: relative;
    top: 8rem;
    bottom: 0;

}

#UXBtn:hover{
    transform: translate(0,4px);
    box-shadow: none;
    color: white;
}

/* .circle5{
    position: absolute;
width: 536px;
height: 536px;
left: -24rem;
top: 4454px;

background: rgba(255, 0, 0, 0.57);
filter: blur(30px);
border-radius: 50%;
z-index: -2;
} */

.circle6{
    background: rgba(27, 227, 227, 0.37);
    position: absolute;
    width: 536px;
    height: 536px;
    left: 70rem;
    top: 2918px;
    
    filter: blur(30px);
    border-radius: 50%;
    z-index: -2;
}

.shape1{
    position: absolute;
width: 475.79px;
height: 475.78px;
left: -400px;
top: 1095.2px;
border-radius: 100%;

background: rgba(246, 150, 150, 0.31);
filter: blur(15px);
transform: rotate(-9.58deg);
z-index: -2;
}

.shape2{
    
position: absolute;
width: 109.49px;
height: 106.11px;
left: -290.77px;
top: 900px;
border-radius: 100%;
background: rgba(255, 182, 182, 0.31);
filter: blur(15px);
transform: rotate(0.95deg);
z-index: -2;
}

.shape3{
    position: absolute;
width: 417.19px;
height: 417.29px;
left: 1100px;
top: -10rem;
border-radius: 50%;
background: rgba(17, 206, 206, 0.31);
filter: blur(15px);
transform: rotate(15.64deg);
z-index: -2;
}

.shape4{
    position: absolute;
width: 818.89px;
height: 793.55px;
left: 881.21px;
bottom: 40px;
border-radius: 50%;

background: rgba(17, 206, 206, 0.13);
filter: blur(30px);
transform: rotate(0.95deg);
z-index: -2;
}

.shape5{
    position: absolute;
width: 460.54px;
height: 460.43px;
left: -78px;
top: 2537.15px;
border-radius: 50%;
background: rgba(89, 17, 206, 0.17);
filter: blur(15px);
transform: rotate(-11.88deg);
z-index: -2;
}




.contact{
width: 1261px;
height: 405px;

background: rgba(240, 240, 240, 0.73);
border-radius: 44px;
box-shadow: 0px 8px 20px rgba(196,196,196,0.69);
-webkit-box-shadow: 0px 8px 20px rgba(196,196,196,0.69);
-moz-box-shadow: 0px 8px 20px rgba(196,196,196,0.69);

    margin: 20rem 0;
}

.contactText{
    padding: 3rem 7rem;
    letter-spacing: .1em;
}

.contactBtn{
    background-color: #EF4C4A;
    box-shadow: 0px 15px 9px 0px rgba(167,7,7,0.2);
    /* -webkit-box-shadow: 0px 10px 39px 0px rgba(167,7,7,0.69);
    -moz-box-shadow: 0px 10px 39px 0px rgba(167,7,7,0.69); */
    color: white;
    border-radius: 20px;
    padding: 1rem 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contactBtn:hover{
    transform: translate(0,4px);
    box-shadow: none;
    color: white;
}



.followBar{
    background: rgba(238, 62, 84, 0.19);
    height: 280px;
    width: 100%;
    position: relative;
    top: 15rem;
    padding: 2rem 0;
    
}

.active{
    color: #0057B4;
    font-weight: 600;
}

.nav-link button:hover{
    color: #0057B4;
    font-weight: 550;
    background-color: whitesmoke;
}




/* elements */

.star{
    animation: star 4s ease-in-out infinite;
}

@keyframes star {
        50% { transform: rotate(0deg) translate(10px,10px) rotate(0deg); }
        50%   { transform: rotate(360deg) translate(10px,10px) rotate(-360deg); }
}

.hand{
    animation: handmovement 4s ease-in-out infinite;
}

@keyframes handmovement {
    50%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-30deg);

    }
}

.handshake{
    padding-top: 50px;
    animation: handshakes 3s ease-in-out infinite;
}

@keyframes handshakes {
    50%{
        transform: translateY(40px);
    }
    50%{
        transform: translateY(-40px);
    }
}

.thumbsup{
    position: absolute;
    left: 1149px;
    top: 3072px;
    animation: thumbs 6s infinite ease-out;
}

@keyframes thumbs {
    40%{
        transform: translateX(300px) ;
    }
    60%{
        transform: translateX(-50px);

    }
}


/*
mobile version
*/

/* navbar toggling*/

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
  .navbar-nav {
    padding-top: 1rem;
    @media (min-width: 1000px) {
        padding-top: 0;
    }
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}
.navbar-toggler {
    height: 45px;
}
.navbar-toggler span {
    display: block;
    background-color: black;
    height: 2px;
    width: 25px;
    margin-top: 6px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    opacity: 1;
 }
 .navbar-toggler span:nth-child(1),
 .navbar-toggler span:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
 }
 .navbar-toggler:not(.collapsed) span:nth-child(1) {
     position: absolute;
     top: 32px;
     -webkit-transform: rotate(135deg);
     -moz-transform: rotate(135deg);
     -o-transform: rotate(135deg);
     transform: rotate(135deg);
     opacity: 0.9;
 }
 .navbar-toggler:not(.collapsed) span:nth-child(2) {
     visibility: hidden;
     background-color: transparent;
 }
 .navbar-toggler:not(.collapsed) span:nth-child(3) {
     position: absolute;
     top: 32px;
     -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
     -o-transform: rotate(-135deg);
     transform: rotate(-135deg);
     opacity: 0.9;
 } 


@media (max-width: 576px) {

    body{
        overflow-x: hidden;
        scroll-behavior: smooth;
      }

    
    #proPic {
        width: 400px;
        height: 400px;
    }

    .row{
        display:flex;
        flex-direction: column;
        /* margin: 4rem 0; */
    }

    .col-7{
        margin: 4rem 0;
    }

    .col{
        top:28rem;
        /* text-align: center; */
    }

    .col h1{
        display: flex;
        flex-wrap: wrap;
        font-size: 38px;
    }

    .star1{
        top: 8rem;
        left:0;
        z-index: -2;
    }

    .star2{
        left: 5rem;
        top: 26rem;
    }





    .service{
        top: 280px;
        width: auto;
        height: 1500px;
    }

    .circle4{
        left: 330px;
    }

    .serviceDescription{
        width: auto;
        text-align: center;
    }

    .col-md-7{
        margin-bottom: 5rem;
        text-align: center;
        width: 400px;
    }

    .resumeBtn{
        top: 13rem;
    }




    .shape5{
        top: 3237px;
        z-index: -2;
    }

    .specializingText{
        top: 20rem;
    }

    .development{
        width: auto;
        text-align: center;
        left: auto;
    }

    .developmentTech{
        left: auto;
    }

    .developmentText{
        padding-top: 1.5rem;
    }

    .UI{
        left: 0;
        width: auto;
    }

    .UITool{
        left: auto;
        margin-top: 8rem ;
    }

    .star4{
        left: 23rem;
        top: 18rem;
    }

    .star5{
        left: 20rem;
        top: 2400px;
    }

    .star3{
        left: 3rem;
        top: 2500px;
    }

    #collapseExample1{
        left: auto;
        top: 5rem;
    }

    #collapseExample2{
        right: auto;
        top: 5rem;
    }



    .pro1{
        display: flex;
        flex-direction: column;
    }

    .developmentProjects .pro1 .description{
        left: auto;
        width: 300px;
        height: 200px;
        text-align: center;
    }

    .developmentProjects .pro1 .description h5{
        top: 2rem;
    }

    .developmentProjects .pro1 .description button{
        top: 4rem;
    }

    .developmentProjects #robot{
        top: -28rem;
        left: auto;
    }

    .developmentProjects #owl{
        left: auto;
        /* bottom: 10rem; */
        top: -36rem;
    }

    .developmentProjects #exam{
        top: -31rem;
        left: auto;
    }

    .developmentProjects #car{
        left: auto;
        top: -35rem;
    }

    .pro2Div .pic{
        position: relative;
        bottom: 20rem !important;
    }

    .pro2Div .description{
        position: relative;
        top: 11rem !important;
    }

    .pro4Div .pic{
        position: relative;
        bottom: 20rem !important;
    }

    .pro4Div .description{
        position: relative;
        top: 11rem !important;
    }

    .viewMoreBtn{
        top: -20rem;
    }




    .UXprojects{
        width:auto;
        flex-wrap: wrap;
        text-align: center;
        /* padding: ;: 0 12rem; */
        border-radius: 0 !important;
        
        margin: 0;
        
    }

    .UXProject{
        width: auto;
        height: 550px;
        padding: 0 !important;
        box-sizing: content-box !important;
        display: flex;
        flex-direction: column;
    }

    .UXProject #UIpro1{
        width: 430px;
        padding: 0 3rem;
    }



    .contact{
        width: auto;
        height: auto;
    }

    .contactText{
        padding:4rem 0;
        font-size: 16px;
    }

    .contactText h3{
        font-size: 24px;
    }

    .handshake #handshakeImg{
        position: relative;
        bottom: 5rem;
        left: 0;
        /* text-align: center !important; */
        width: 350px;
    }

    .contactBtn{
    position: relative;
    top:14rem; 
    width: auto;
    text-align: center !important;
    }





    .followBar{
        width:100%;
        display: flex;
        flex-direction: column;
        height: 360px;
    }

    .followBar .form-inline{
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;
        left: -7rem;
        top: 3rem;

    }

    .followBar .navbar-Brand{
        display: flex;
        flex-direction: column;
        text-align: center;
    }




.hand #handImg{
 position: absolute;
 left: 221px;
 top: 48rem;
 width: 350px;
}


.thumbsup #thumbsupImg{
    position: absolute;
    left: 249px;
    width: 350px;
 top: 48rem;

   }


}





